* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
    
}
#nav{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;/*it is used so that our tags are one after another in our websites*/
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
}